.container{
    background-color: black;
    width: 100vw;
}
.pg1{
    background-color: rgb(86, 83, 83);
    width: 100%;
    padding: 17px;
}

.img-containter{
    margin: 15px;
}

.header-img{
    box-shadow: 5px 5px 5px;
}

.services{
    background-color: rgb(14, 14, 205);
}